.slider-item {
  width: (100% / 2);
  display: inline-block;
  padding: 0 2px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  transition-delay: 0ms;

  &:hover {
    position: relative;
  }

  .title {
    position: relative;
  }
  h2 {
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.3);
    margin: 0;
    font-weight: normal;
    line-height: 1.8;
    font-size: 1vw;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 10px;
  }

  img {
    max-width: 100%;
    height: 10vw;
    width: 100%;
  }

  .item-image {
    width: 100%;
    height: 10vw;
    background-size: 100% 100%!important;
  }
}

@media (min-width: 480px) {
  .slider-item {
    width: (100% / 3);
  }
}
@media (min-width: 1024px) {
  .slider-item {
    width: (100% / 4);
  }
}
@media (min-width: 1400px) {
  .slider-item {
    width: (100% / 6);
  }
}
